node_modules/page-flip/.eslintrc
node_modules/page-flip/.prettierrc
node_modules/page-flip/LICENSE
node_modules/page-flip/package.json
node_modules/page-flip/README.md
node_modules/page-flip/rollup.config.js
node_modules/page-flip/tsconfig.json
node_modules/page-flip/video.gif
node_modules/page-flip/webpack.config.js
node_modules/page-flip/.github/FUNDING.yml
node_modules/page-flip/dist/js/page-flip.browser.js
node_modules/page-flip/dist/js/page-flip.module.js
node_modules/page-flip/src/BasicTypes.ts
node_modules/page-flip/src/Helper.ts
node_modules/page-flip/src/PageFlip.ts
node_modules/page-flip/src/Settings.ts
node_modules/page-flip/src/Collection/HTMLPageCollection.ts
node_modules/page-flip/src/Collection/ImagePageCollection.ts
node_modules/page-flip/src/Collection/PageCollection.ts
node_modules/page-flip/src/Event/EventObject.ts
node_modules/page-flip/src/Flip/Flip.ts
node_modules/page-flip/src/Flip/FlipCalculation.ts
node_modules/page-flip/src/Page/HTMLPage.ts
node_modules/page-flip/src/Page/ImagePage.ts
node_modules/page-flip/src/Page/Page.ts
node_modules/page-flip/src/Render/CanvasRender.ts
node_modules/page-flip/src/Render/HTMLRender.ts
node_modules/page-flip/src/Render/Render.ts
node_modules/page-flip/src/Style/stPageFlip.css
node_modules/page-flip/src/UI/CanvasUI.ts
node_modules/page-flip/src/UI/HTMLUI.ts
node_modules/page-flip/src/UI/UI.ts
